<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="Paths">
    <!-- <setting id="separator" type="lsep" label="Scan settings"/> -->
    <setting label="Doom WADs directory" type="folder" id="doom_wad_dir" default="" source="" />
</category>
<category label="Display">
    <setting label="Launching Application notification" type="bool" default="true" id="display_launcher_notify" />
</category>
<category label="Advanced">
    <setting label="Action on Kodi playing media" type="enum" id="media_state_action" default="0" values="Stop|Pause|Let Play" />
    <setting label="Disable LIRC (Linux only)" type="bool" id="lirc_state_action" default="true" />
    <setting label="After/before launch delay (ms)" type="slider" id="delay_tempo" default="500" range="0,100,15000" option="int"/>
    <setting label="Suspend/resume Kodi audio engine" type="bool" id="suspend_audio_engine" default="false"/>
    <setting label="Log level" type="enum" id="log_level" default="2" values="ERROR|WARNING|INFO|VERBOSE|DEBUG" />
</category>
</settings>
